body{
    margin:0;
    height:100vh;
    background:black;
    overflow:hidden;
    color:white;
    font-family: 'Segoe UI';
}

.stars{
    position:absolute;
    width:100%;
    height:100%;
    background:url("https://www.transparenttextures.com/patterns/stardust.png");
    animation:move 60s linear infinite;
}

@keyframes move{
    from{background-position:0 0;}
    to{background-position:10000px 5000px;}
}

.contenido{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:20px;
    background:#ff4d6d;
    color:white;
    font-size:18px;
    cursor:pointer;
    margin-top:20px;
}

button:hover{
    background:#ff758f;
}
